* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 7px;
  &:hover {
    background-color: darkgrey;
  }
}